.App {
  text-align: center;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.left-side-content{
  float: left;
  width: 50%;
}
.right-side-content{
  float: right;
  width: 50%;
}
.inner-box ,.output-side{
  box-shadow: 0px 0px 7px rgb(138,43,226);
  padding: 17px 25px 17px 44px;
  width: 48%;
    text-align: left;
    margin: 0 auto;
}
button{
    padding: 13px 12px;
    background: blueviolet;
    outline: none;
    border: 0;
    color: #ffff;
    font-weight: 700;
    border-radius: 5px;
    margin-left: 5px;
    transition: .4s;
}
button:hover{
  background-color: black;
}
h4{
  color: #c36464;
}
.left-part{
  width: 50%;
  float: left;
}
.right-part{
  width: 50%;
  float: right;
}
.option-package{
  border-bottom: 1px solid black;
}
p{
    font-weight: 600;
    padding-top: 6px;
}